/* Footer */
.footer {
  height: 13vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #231c2a;
  opacity: 0.8;
  /* background-color: var(--pink); */
  /* box-shadow: inset 0px 0px 66px 5px rgba(0, 221, 255, 0.5); */
}

.footer a {
  margin: 1rem 2.5rem;
  text-decoration: none;
  color: var(--light-blue);
  font-size: 1.5rem;
  transition: all 0.7s ease;
  filter: drop-shadow(0 0 0.75rem rgba(0, 221, 255, 0.74));
}

.footer a:hover {
  color: var(--pink);
  opacity: 0.8;
  transform: rotate(1turn);
  filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.74));
}
