/* navigation bar */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.light-bulb {
  color: var(--white);
  filter: drop-shadow(0 0 2px var(--white)) drop-shadow(0 0 5px var(--white))
    drop-shadow(0 0 15px var(--blue)) drop-shadow(0 0 20px var(--blue))
    drop-shadow(0 0 30px var(--blue));
  transition: ease-in-out 0.15s;
}

.light-bulb:hover {
  transform: scale(1.2);
}

.light-bulb-off {
  color: red;
  filter: none;
}

.nav a {
  margin: 1rem 2.5rem;
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
  transition: all 0.7s ease;
  /* filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.74)); */
  filter: drop-shadow(0 0 0.75rem var(--white));
}

.nav a:hover {
  /* color: var(--light-blue); */
  color: #f64bff;
  opacity: 0.8;
  transform: rotate(1turn);
  filter: drop-shadow(0 0 0.75rem var(--white));
}

.light-bulb {
  color: var(--white);
  margin: 1rem 2.5rem;
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
}

.light-bulb:hover {
  cursor: pointer;
}

@keyframes slide-in-top {
  from {
    opacity: 0;
    /* top: -400px; */
    top: -10rem;
  }
  to {
    top: 0px;
  }
}
@keyframes slide-in-left {
  from {
    opacity: 0;
    left: -20rem;
  }
  to {
    left: 0px;
  }
}
@keyframes slide-in-right {
  from {
    opacity: 0;
    right: -20rem;
  }
  to {
    right: 0px;
  }
}

.slide-in-top {
  position: relative;
  animation: slide-in-top 1.5s;
}

.slide-in-left {
  position: relative;
  animation: slide-in-left 1.5s;
}
.slide-in-right {
  position: relative;
  animation: slide-in-right 1.5s;
}

/* envelope open */
.open-envelope .open {
  display: none;
}

/* .open-envelope:hover .close {
  display: none;
}

.open-envelope:hover .open {
  display: block;
} */
