@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poiret+One&display=swap');

/* html and body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  background: linear-gradient(#1a1835 25%, #ff84d8);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  position: relative;
  height: 100%;
}

p,
li {
  font-family: 'Poiret One', cursive;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}

h1,
h2,
h3 {
  font-family: 'Limelight', cursive;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

/* navigation bar */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a {
  margin: 1rem 2.5rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  transition: all 0.7s ease;
}

.nav a:hover {
  color: #00ddff;
  opacity: 0.8;
  transform: rotate(1turn);
  filter: drop-shadow(0 0 0.75rem rgba(0, 221, 255, 0.74));
}

/* envelope open */
.open-envelope .open {
  display: none;
}

.open-envelope:hover .close {
  display: none;
}

.open-envelope:hover .open {
  display: block;
}

/* main content */
.container-top {
  padding: 2rem;
  /* height: 35vh; */
  width: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
}
.header {
  color: white;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.job {
  /* font-size: 6.5vw; */
  font-size: clamp(45px, 12vw, 100px);
  margin: 0;
  letter-spacing: -0.1rem;
}

.name {
  margin: 0;
  /* font-size: 1.8vw; */
  font-size: clamp(15px, 3vw, 30px);
  font-weight: lighter;
  letter-spacing: 2.5vw;
}

.line {
  height: 0.2rem;
  /* background-color: #f72e44; */
  background-color: #00ddff;
  display: inline-block;
  width: 85%;
  opacity: 0.8;
  border-radius: 0.15rem;
  box-shadow: 0px 0px 66px 10px rgb(0 221 255 / 100%);
}

.links {
  margin: 0.5rem;
  display: flex;
  justify-content: space-around;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-shadow: 2px 2px 2px 1px rgba(0, 221, 255, 0.5);
}

/* hidden cards */

.card {
  /* background-color: rgba(255, 255, 255, 0.278); */
  /* background-color: rgb(42, 43, 71, 0.8); */
  /* background: linear-gradient(#1a1835, #ff84d8); */
  background: linear-gradient(rgba(26, 24, 53, 0.8), rgba(255, 132, 216, 0.8));
  padding: 2rem;
  margin: 0.7rem 0;
  width: 30%;
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
  box-shadow: 0px 0px 66px 5px rgba(0, 221, 255, 0.5);
}

/* Hidden class */
.hidden {
  display: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

/* Fade ANIMATION */
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Window about */
.about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 10;

  border-radius: 5px;
  text-align: start;
  /* box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3); */
}

/* Window Skills */
.skills {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  z-index: 10;
  border-radius: 5px;
}

.skills-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.icon-skills {
  padding-top: 1rem;
  font-size: 4rem;
}

.bootstrap {
  color: #9f76f1;
}

.js {
  color: #fcdc00;
}

.css {
  color: #2b98cb;
}

.html {
  color: #e54b20;
}

.git {
  color: #f44d27;
}
/* closing button */
.btn-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #00ddff;
  font-size: 1.5rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: all ease 1s;
}

.btn-close:hover {
  transform: scale(1.2);
}

/* Overlay */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(1px);
  z-index: 5;
}

/* Animation umbrella */
.animation-umbrella {
  margin-bottom: 2rem;
}
.icon-umbrella {
  color: #00ddff;
  filter: drop-shadow(0 0 0.75rem rgba(0, 221, 255, 0.74));
  font-size: 2rem;
  position: relative;
  animation: umbrella 8s infinite;
  animation-direction: alternate-reverse;
}

@keyframes umbrella {
  0% {
    transform: rotate(0deg);
    left: -40%;
  }
  25% {
    transform: rotate(20deg);
    left: -40%;
  }
  50% {
    transform: rotate(0deg);
    left: 40%;
  }
  55% {
    transform: rotate(0deg);
    left: 40%;
  }
  70% {
    transform: rotate(0deg);
    left: 40%;
  }
  100% {
    transform: rotate(-360deg);
    left: -40%;
  }
}

/* About me section */
.section-id {
  padding: 2rem;
  margin: 2rem;
}
.heading-line {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.heading {
  color: white;
  /* margin-right: 2rem; */
  width: 20%;
  white-space: nowrap;
}

.heading-line::after {
  content: '';
  display: block;
  position: relative;
  width: 300px;
  margin-left: 20px;
  height: 1px;
  background-color: #00ddff;
}

.about-me {
  margin: auto;
  color: white;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

.img-zoom img {
  width: 100%;
  max-width: 250px;
  border-radius: 3rem;
  border: solid #00ddff;
  box-shadow: 0px 0px 66px 8px rgba(0, 221, 255, 0.8);
  border-width: 0.4rem;
  filter: saturate(0.5);
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  margin: 20px 0px 0px;
  padding: 0;
  color: white;
  list-style: none;
}

.skills-list li::before {
  content: '▹ ';
  color: #00ddff;
}

/* Section projects */
.section-projects {
  margin: 2rem;
  padding: 2rem;
}

.heading-projects {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 3rem;
}
.project-main {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 10px;
  margin-bottom: 4rem;
}

.project-content {
  color: white;
}
.project-img-heading {
  margin-bottom: 1rem;
}
.project-image img {
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 0px 66px 5px rgba(0, 221, 255, 0.8);
  border-radius: 3rem;
  border: solid #00ddff;
  border-width: 0.4rem;
  cursor: pointer;
}

.project-image:hover img {
  /* filter: grayscale(); */
  opacity: 0.5;
}

.project-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1rem 0 1rem 0;
}

.project-links a {
  text-decoration: none;
  color: #00ddff;
  margin-right: 1rem;
  font-size: clamp(1.3rem, 2.5vw, 1.8rem);
  transition: all 0.7s ease;
  filter: drop-shadow(0 0 0.75rem rgba(0, 221, 255, 0.74));
}

.project-links a:hover {
  color: #00ddffe4;
  opacity: 0.8;
  transform: rotate(1turn);
}

/* Media Queries bout section*/
@media only screen and (max-width: 650px) {
  div.about-me {
    grid-template-columns: 1fr;
  }
  div.project-main {
    grid-template-columns: 1fr;
  }
  div.heading-line::after {
    display: none;
  }
  .icon-umbrella {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 600px) {
  div.section-id {
    padding-inline: 6rem;
  }
  div.section-projects {
    padding-inline: 6rem;
  }
  div.project-main {
    gap: 50px;
  }
  div.heading-line::after {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  div.project-image img {
    border-width: 0.3rem;
  }
}

@media only screen and (min-width: 992px) {
  div.section-id {
    padding-inline: 10rem;
  }
  div.section-projects {
    padding-inline: 10rem;
  }
}
@media only screen and (max-width: 1080px) {
  div.heading-line::after {
    width: 200px;
  }
}
